# Proyecto #2
* Materia : Procesamiento de datos a Gran Escala
* Realizado por : Ana Maria Sanchez, Valentina Delgado ,
Maria Fernanda García
* Carrera: Ciencia de Datos
* Presentado a : John Corredor
* Fecha: 11/11/2013

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=6cc4e62427ad663eb5efbfe385df81ad48b37794f905c97068b5c15e4889ddc3
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import count, when

# Implementamos todo lo necesario para aplicar Spark

In [3]:
# Crear una SparkSession
spark = SparkSession.builder.appName("Lectura de Datos").getOrCreate()

# Información general de los Datasets que tenemos

In [4]:

# Lee un archivo CSV
df1 = spark.read.csv("Motor_Vehicle_Collisions_-_Person_20231102.csv", header=True, inferSchema=True)

# Muestra el DataFrame
df1.show(10)

+---------+------------+----------+-------------------+--------------------+-----------+-------------+----------+----------+-----------+----------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+---------------+---------------------+---------------------+----------+
|UNIQUE_ID|COLLISION_ID|CRASH_DATE|         CRASH_TIME|           PERSON_ID|PERSON_TYPE|PERSON_INJURY|VEHICLE_ID|PERSON_AGE|   EJECTION|EMOTIONAL_STATUS|       BODILY_INJURY| POSITION_IN_VEHICLE|  SAFETY_EQUIPMENT|        PED_LOCATION|          PED_ACTION|           COMPLAINT|       PED_ROLE|CONTRIBUTING_FACTOR_1|CONTRIBUTING_FACTOR_2|PERSON_SEX|
+---------+------------+----------+-------------------+--------------------+-----------+-------------+----------+----------+-----------+----------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+---------------+---------------------+---------------------+----------+
| 10249006|     4229554|10/26/2019|2023-11-12 09:43:00|31aa2bc0-f545-444...|   Occupant|  Unspecified|  19141108|      NULL|       NULL|            NULL|                NULL|                NULL|              NULL|                NULL|                NULL|                NULL|     Registrant|                 NULL|                 NULL|         U|
| 10255054|     4230587|10/25/2019|2023-11-12 15:15:00|4629e500-a73e-48d...|   Occupant|  Unspecified|  19144075|        33|Not Ejected|  Does Not Apply|      Does Not Apply|Front passenger, ...|Lap Belt & Harness|                NULL|                NULL|      Does Not Apply|      Passenger|                 NULL|                 NULL|         F|
| 10253177|     4230550|10/26/2019|2023-11-12 17:55:00|ae48c136-1383-45d...|   Occupant|  Unspecified|  19143133|        55|       NULL|            NULL|                NULL|                NULL|              NULL|                NULL|                NULL|                NULL|     Registrant|                 NULL|                 NULL|         M|
|  6650180|     3565527|11/21/2016|2023-11-12 13:05:00|             2782525|   Occupant|  Unspecified|      NULL|      NULL|       NULL|            NULL|                NULL|                NULL|              NULL|                NULL|                NULL|                NULL|Notified Person|                 NULL|                 NULL|      NULL|
| 10255516|     4231168|10/25/2019|2023-11-12 11:16:00|e038e18f-40fb-447...|   Occupant|  Unspecified|  19144329|         7|Not Ejected|  Does Not Apply|      Does Not Apply|Right rear passen...|          Lap Belt|                NULL|                NULL|      Does Not Apply|      Passenger|                 NULL|                 NULL|         F|
| 10253606|     4230743|10/24/2019|2023-11-12 19:15:00|84bcb3a7-d201-4c6...|   Occupant|      Injured|  19143343|        27|Not Ejected|       Conscious|                Back|              Driver|Lap Belt & Harness|                NULL|                NULL|Complaint of Pain...|         Driver|                 NULL|                 NULL|         M|
| 10251336|     4230047|10/26/2019|2023-11-12 16:45:00|21064a07-a945-49d...|   Occupant|  Unspecified|  19142198|        41|       NULL|            NULL|                NULL|                NULL|              NULL|                NULL|                NULL|                NULL|     Registrant|                 NULL|                 NULL|         F|
| 10248708|     4229547|10/26/2019|2023-11-12 01:15:00|a8904763-2870-42f...| Pedestrian|      Injured|      NULL|        24|       NULL|       Conscious|Shoulder - Upper Arm|                NULL|              NULL|Pedestrian/Bicycl...|Crossing With Signal|        None Visible|     Pedestrian|          Unspecified|          Unspecified|         F|
| 10250179|     4229808|10/26/2019|2023-11-12 13:04:00|c3fc715e-203f-462...|   Occupant|  Unspecified|  19141630|        36|Not Ejected|  Does Not Apply|      Does Not Apply|              Driver|Lap Belt & Harness|                NULL|                NULL|      Does Not Apply|         Driver|                 NULL|                 NULL|         M|
| 10253792|     4230915|10/24/2019|2023-11-12 08:20:00|793ac6c6-cbc7-4ab...|   Occupant|  Unspecified|  19143438|      NULL|       NULL|            NULL|                NULL|                NULL|              NULL|                NULL|                NULL|                NULL|     Registrant|                 NULL|                 NULL|         U|
+---------+------------+----------+-------------------+--------------------+-----------+-------------+----------+----------+-----------+----------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+---------------+---------------------+---------------------+----------+
only showing top 10 rows

In [5]:
df1.columns

['UNIQUE_ID',
 'COLLISION_ID',
 'CRASH_DATE',
 'CRASH_TIME',
 'PERSON_ID',
 'PERSON_TYPE',
 'PERSON_INJURY',
 'VEHICLE_ID',
 'PERSON_AGE',
 'EJECTION',
 'EMOTIONAL_STATUS',
 'BODILY_INJURY',
 'POSITION_IN_VEHICLE',
 'SAFETY_EQUIPMENT',
 'PED_LOCATION',
 'PED_ACTION',
 'COMPLAINT',
 'PED_ROLE',
 'CONTRIBUTING_FACTOR_1',
 'CONTRIBUTING_FACTOR_2',
 'PERSON_SEX']

In [6]:
#Información de columnas
df1.describe().show()

+-------+------------------+------------------+----------+--------------------+-----------+-------------+--------------------+------------------+--------------+----------------+----------------+--------------------+----------------+--------------+--------------------+---------+--------+---------------------+---------------------+----------+
|summary|         UNIQUE_ID|      COLLISION_ID|CRASH_DATE|           PERSON_ID|PERSON_TYPE|PERSON_INJURY|          VEHICLE_ID|        PERSON_AGE|      EJECTION|EMOTIONAL_STATUS|   BODILY_INJURY| POSITION_IN_VEHICLE|SAFETY_EQUIPMENT|  PED_LOCATION|          PED_ACTION|COMPLAINT|PED_ROLE|CONTRIBUTING_FACTOR_1|CONTRIBUTING_FACTOR_2|PERSON_SEX|
+-------+------------------+------------------+----------+--------------------+-----------+-------------+--------------------+------------------+--------------+----------------+----------------+--------------------+----------------+--------------+--------------------+---------+--------+---------------------+---------------------+----------+
|  count|            138102|            138102|    138102|              138101|     138102|       138102|              105672|            109497|         58231|           67651|           67673|               58292|           58276|         11131|               11099|    67671|  133426|                 9839|                 9823|    108594|
|   mean| 7806895.084242082|3753199.1966589913|      NULL|  1384657.2328621636|       NULL|         NULL|1.8087574285364147E7| 37.03000082194033|          NULL|            NULL|            NULL|                NULL|            NULL|          NULL|                NULL|     NULL|    NULL|                 NULL|                 NULL|      NULL|
| stddev|2018203.5057836769| 567708.1525711421|      NULL|   985152.3863069632|       NULL|         NULL|  1332244.1944478082|104.59241635646141|          NULL|            NULL|            NULL|                NULL|            NULL|          NULL|                NULL|     NULL|    NULL|                 NULL|                 NULL|      NULL|
|    min|            106541|               790|01/01/2013|00015b04-649e-44b...|  Bicyclist|      Injured|             2670776|              -999|Does Not Apply|  Apparent Death|Abdomen - Pelvis|Any person in the...|               -|Does Not Apply|Crossing Against ...| Abrasion|  Driver| Aggressive Drivin...| Aggressive Drivin...|         F|
|    max|          12701255|           4652114|12/31/2022|ffff6cba-4a49-47b...| Pedestrian|  Unspecified|            20493043|              9999|       Unknown|         Unknown|         Unknown|             Unknown|         Unknown|       Unknown|  Working in Roadway| Whiplash| Witness| View Obstructed/L...| View Obstructed/L...|         U|
+-------+------------------+------------------+----------+--------------------+-----------+-------------+--------------------+------------------+--------------+----------------+----------------+--------------------+----------------+--------------+--------------------+---------+--------+---------------------+---------------------+----------+

In [7]:
# Lee un archivo CSV
df2 = spark.read.csv("Motor_Vehicle_Collisions_-_Crashes_20231102.csv" , header=True, inferSchema=True)

# Muestra el DataFrame
df2.show()

+----------+-------------------+---------+--------+---------+----------+--------------------+--------------------+--------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
|CRASH DATE|         CRASH TIME|  BOROUGH|ZIP CODE| LATITUDE| LONGITUDE|            LOCATION|      ON STREET NAME|   CROSS STREET NAME|     OFF STREET NAME|NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|NUMBER OF PEDESTRIANS INJURED|NUMBER OF PEDESTRIANS KILLED|NUMBER OF CYCLIST INJURED|NUMBER OF CYCLIST KILLED|NUMBER OF MOTORIST INJURED|NUMBER OF MOTORIST KILLED|CONTRIBUTING FACTOR VEHICLE 1|CONTRIBUTING FACTOR VEHICLE 2|CONTRIBUTING FACTOR VEHICLE 3|CONTRIBUTING FACTOR VEHICLE 4|CONTRIBUTING FACTOR VEHICLE 5|COLLISION_ID| VEHICLE TYPE CODE 1| VEHICLE TYPE CODE 2|VEHICLE TYPE CODE 3|VEHICLE TYPE CODE 4|VEHICLE TYPE CODE 5|
+----------+-------------------+---------+--------+---------+----------+--------------------+--------------------+--------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
|09/11/2021|2023-11-12 02:39:00|     NULL|    NULL|     NULL|      NULL|                NULL|WHITESTONE EXPRES...|           20 AVENUE|                NULL|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Aggressive Drivin...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4455765|               Sedan|               Sedan|               NULL|               NULL|               NULL|
|03/26/2022|2023-11-12 11:45:00|     NULL|    NULL|     NULL|      NULL|                NULL|QUEENSBORO BRIDGE...|                NULL|                NULL|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|            Pavement Slippery|                         NULL|                         NULL|                         NULL|                         NULL|     4513547|               Sedan|                NULL|               NULL|               NULL|               NULL|
|06/29/2022|2023-11-12 06:55:00|     NULL|    NULL|     NULL|      NULL|                NULL|  THROGS NECK BRIDGE|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4541903|               Sedan|       Pick-up Truck|               NULL|               NULL|               NULL|
|09/11/2021|2023-11-12 09:35:00| BROOKLYN|   11208|40.667202|  -73.8665|(40.667202, -73.8...|                NULL|                NULL|1211      LORING ...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|     4456314|               Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 08:13:00| BROOKLYN|   11233|40.683304|-73.917274|(40.683304, -73.9...|     SARATOGA AVENUE|      DECATUR STREET|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                         NULL|                         NULL|                         NULL|                         NULL|                         NULL|     4486609|                NULL|                NULL|               NULL|               NULL|               NULL|
|04/14/2021|2023-11-12 12:47:00|     NULL|    NULL|     NULL|      NULL|                NULL|MAJOR DEEGAN EXPR...|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4407458|                Dump|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 17:05:00|     NULL|    NULL|40.709183|-73.956825|(40.709183, -73.9...|BROOKLYN QUEENS E...|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486555|               Sedan|Tractor Truck Diesel|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 08:17:00|    BRONX|   10475| 40.86816| -73.83148|(40.86816, -73.83...|                NULL|                NULL|344       BAYCHES...|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486660|               Sedan|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 21:10:00| BROOKLYN|   11207| 40.67172|  -73.8971|(40.67172, -73.8971)|                NULL|                NULL|2047      PITKIN ...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|     4487074|               Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 14:58:00|MANHATTAN|   10017| 40.75144| -73.97397|(40.75144, -73.97...|            3 AVENUE|      EAST 43 STREET|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486519|               Sedan|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|12/13/2021|2023-11-12 00:34:00|     NULL|    NULL|40.701275| -73.88887|(40.701275, -73.8...|       MYRTLE AVENUE|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Passing or Lane U...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486934|Station Wagon/Spo...|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 16:50:00|   QUEENS|   11413|40.675884| -73.75577|(40.675884, -73.7...|SPRINGFIELD BOULE...|     EAST GATE PLAZA|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|           Turning Improperly|                  Unspecified|                         NULL|                         NULL|                         NULL|     4487127|               Sedan|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 08:30:00|     NULL|    NULL|     NULL|      NULL|                NULL|            broadway|west 80 street -w...|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Unsafe Lane Changing|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486634|Station Wagon/Spo...|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 00:59:00|     NULL|    NULL| 40.59662| -74.00231|(40.59662, -74.00...|        BELT PARKWAY|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                 Unsafe Speed|                         NULL|                         NULL|                         NULL|                         NULL|     4486564|               Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 23:10:00|   QUEENS|   11434| 40.66684| -73.78941|(40.66684, -73.78...|NORTH CONDUIT AVENUE|          150 STREET|                NULL|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Reaction to Uninv...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486635|               Sedan|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 17:58:00| BROOKLYN|   11217| 40.68158| -73.97463|(40.68158, -73.97...|                NULL|                NULL|480       DEAN ST...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486604|              Tanker|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 20:03:00| BROOKLYN|   11226| 40.65068| -73.95881|(40.65068, -73.95...|                NULL|                NULL|878       FLATBUS...|                        4|                       0|                            0|                           0|                        0|                       0|                         4|                        0|             Steering Failure|                         NULL|                         NULL|                         NULL|                         NULL|     4486991|               Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 01:28:00|     NULL|    NULL|     NULL|      NULL|                NULL|       MEEKER AVENUE|      LORIMER STREET|                NULL|                        3|                       0|                            0|                           0|                        0|                       0|                         3|                        0|         Traffic Control D...|                  Unspecified|                         NULL|                         NULL|                         NULL|     4486284|Station Wagon/Spo...|Station Wagon/Spo...|               NULL|               NULL|               NULL|
|12/11/2021|2023-11-12 19:43:00|    BRONX|   10463| 40.87262|-73.904686|(40.87262, -73.90...|WEST KINGSBRIDGE ...|        HEATH AVENUE|                NULL|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|     4487040|Station Wagon/Spo...|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 14:30:00|     NULL|    NULL|40.783268| -73.82485|(40.783268, -73.8...|WHITESTONE EXPRES...|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|                  Unspecified|                         NULL|                         NULL|     4486537|Station Wagon/Spo...|               Sedan|              Sedan|               NULL|               NULL|
+----------+-------------------+---------+--------+---------+----------+--------------------+--------------------+--------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+--------------------+--------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

In [8]:
df2.columns

['CRASH DATE',
 'CRASH TIME',
 'BOROUGH',
 'ZIP CODE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION',
 'ON STREET NAME',
 'CROSS STREET NAME',
 'OFF STREET NAME',
 'NUMBER OF PERSONS INJURED',
 'NUMBER OF PERSONS KILLED',
 'NUMBER OF PEDESTRIANS INJURED',
 'NUMBER OF PEDESTRIANS KILLED',
 'NUMBER OF CYCLIST INJURED',
 'NUMBER OF CYCLIST KILLED',
 'NUMBER OF MOTORIST INJURED',
 'NUMBER OF MOTORIST KILLED',
 'CONTRIBUTING FACTOR VEHICLE 1',
 'CONTRIBUTING FACTOR VEHICLE 2',
 'CONTRIBUTING FACTOR VEHICLE 3',
 'CONTRIBUTING FACTOR VEHICLE 4',
 'CONTRIBUTING FACTOR VEHICLE 5',
 'COLLISION_ID',
 'VEHICLE TYPE CODE 1',
 'VEHICLE TYPE CODE 2',
 'VEHICLE TYPE CODE 3',
 'VEHICLE TYPE CODE 4',
 'VEHICLE TYPE CODE 5']

In [9]:
#Información de columnas
df2.describe().show()

+-------+----------+-------------+------------------+------------------+------------------+--------------------+------------------+------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|summary|CRASH DATE|      BOROUGH|          ZIP CODE|          LATITUDE|         LONGITUDE|            LOCATION|    ON STREET NAME| CROSS STREET NAME|     OFF STREET NAME|NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|NUMBER OF PEDESTRIANS INJURED|NUMBER OF PEDESTRIANS KILLED|NUMBER OF CYCLIST INJURED|NUMBER OF CYCLIST KILLED|NUMBER OF MOTORIST INJURED|NUMBER OF MOTORIST KILLED|CONTRIBUTING FACTOR VEHICLE 1|CONTRIBUTING FACTOR VEHICLE 2|CONTRIBUTING FACTOR VEHICLE 3|CONTRIBUTING FACTOR VEHICLE 4|CONTRIBUTING FACTOR VEHICLE 5|     COLLISION_ID|VEHICLE TYPE CODE 1|VEHICLE TYPE CODE 2|VEHICLE TYPE CODE 3|VEHICLE TYPE CODE 4|VEHICLE TYPE CODE 5|
+-------+----------+-------------+------------------+------------------+------------------+--------------------+------------------+------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|  count|    170915|       112189|            112167|            156343|            156343|              156343|            124420|             79121|               46492|                   170915|                  170915|                       170915|                      170915|                   170915|                  170915|                    170915|                   170915|                       170050|                       132224|                        17224|                         4663|                         1417|           170915|             168853|             114028|              16003|               4412|               1367|
|   mean|      NULL|         NULL|10889.455499389303|40.127169389020146|-72.83116396007276|                NULL| 463.6666666666667|55.285714285714285|                NULL|       0.4835912588128602|    0.002667992861948922|           0.0728724804727496|        0.001123365415557...|      0.04699411988415294|    1.755258461808501...|       0.34174297165257583|     0.001216979200187...|                         NULL|                         NULL|                         NULL|                         NULL|                         NULL|4475555.884632712|              666.0|             249.75|               NULL|               NULL|               NULL|
| stddev|      NULL|         NULL| 524.1882373393258| 4.898499255978162| 8.889982766658969|                NULL|396.58836762231607| 69.45673542024628|                NULL|       0.8054511805378679|     0.05402156660549747|          0.27344246369662295|          0.0338454371237774|       0.2152725548976446|    0.013247492731129996|        0.7773252193892813|     0.037918851682349444|                         NULL|                         NULL|                         NULL|                         NULL|                         NULL|50198.28623437997|  570.7127123168013|              499.5|               NULL|               NULL|               NULL|
|    min|01/01/2021|        BRONX|             10000|               0.0|        -74.254845|          (0.0, 0.0)|          1 AVENUE|                 0|1         AVIATIO...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Accelerator Defec...|         Accelerator Defec...|         Aggressive Drivin...|         Aggressive Drivin...|          Alcohol Involvement|          3456194|        ''lime mope|                  0|             3-Door|             3-Door|      Armored Truck|
|    max|12/31/2021|STATEN ISLAND|             11697|         40.912884|               0.0|(40.912884, -73.9...|     whythe avenue|   �ST 138 STREET|    w52nd stre12 ave|                       40|                       3|                            6|                           2|                        3|                       1|                        40|                        3|         Windshield Inadeq...|         View Obstructed/L...|         View Obstructed/L...|         View Obstructed/L...|                  Unspecified|          4664283|               �MBU|          x trailer|         vehicle tr|                van|                Van|
+-------+----------+-------------+------------------+------------------+------------------+--------------------+------------------+------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------+-------------------+-------------------+-------------------+-------------------+-------------------+

In [10]:
# Lee un archivo CSV
df3 = spark.read.csv("NYPD_Arrests_Data__Historic__20231102.csv", header=True, inferSchema=True)

# Muestra el DataFrame
df3.show()

+----------+-----------+-----+--------------------+-----+--------------------+----------+----------+-----------+---------------+-----------------+---------+--------+--------------+----------+----------+------------------+------------------+--------------------+
|ARREST_KEY|ARREST_DATE|PD_CD|             PD_DESC|KY_CD|           OFNS_DESC|  LAW_CODE|LAW_CAT_CD|ARREST_BORO|ARREST_PRECINCT|JURISDICTION_CODE|AGE_GROUP|PERP_SEX|     PERP_RACE|X_COORD_CD|Y_COORD_CD|          Latitude|         Longitude|             Lon_Lat|
+----------+-----------+-----+--------------------+-----+--------------------+----------+----------+-----------+---------------+-----------------+---------+--------+--------------+----------+----------+------------------+------------------+--------------------+
| 236791704| 11/22/2021|  581|                NULL| NULL|                NULL|PL 2225001|         M|          M|             28|                0|    45-64|       M|         BLACK|  997427.0|  230378.0|40.799008797000056|-73.95240854099995|POINT (-73.952408...|
| 237354740| 12/04/2021|  153|              RAPE 3|  104|                RAPE|PL 1302502|         F|          B|             41|                0|    25-44|       M|WHITE HISPANIC| 1013232.0|  236725.0|40.816391847000034|-73.89529641399997|POINT (-73.895296...|
| 236081433| 11/09/2021|  681|CHILD, ENDANGERIN...|  233|          SEX CRIMES|PL 2601001|         M|          Q|            113|                0|    25-44|       M|         BLACK| 1046367.0|  186986.0| 40.67970040800003|-73.77604736799998|POINT (-73.776047...|
|  32311380| 06/18/2007|  511|CONTROLLED SUBSTA...|  235|     DANGEROUS DRUGS|PL 2200300|         M|          Q|             27|                1|    18-24|       M|         BLACK|      NULL|      NULL|              NULL|              NULL|                NULL|
| 192799737| 01/26/2019|  177|        SEXUAL ABUSE|  116|          SEX CRIMES|PL 1306503|         F|          M|             25|                0|    45-64|       M|         BLACK| 1000555.0|  230994.0|40.800694331000045|-73.94110928599997|POINT (-73.941109...|
| 193260691| 02/06/2019| NULL|                NULL| NULL|                NULL|PL 2203400|         F|          M|             14|                0|    25-44|       M|       UNKNOWN|  986685.0|  215375.0| 40.75783900300007|-73.99121211099998|POINT (-73.991212...|
| 237291769| 12/03/2021|  579|                NULL| NULL|                NULL|PL 2224001|         F|          Q|            115|                0|    25-44|       M|         BLACK| 1018534.0|  220579.0| 40.77205649600006|-73.87622400099998|POINT (-73.876224...|
| 236106641| 11/10/2021|  263|         ARSON 2,3,4|  114|               ARSON|PL 1501001|         F|          B|             41|               72|    25-44|       M|WHITE HISPANIC| 1017934.0|  232221.0|40.804012949000025|-73.87833183299993|POINT (-73.878331...|
| 238383628| 12/28/2021|  729|FORGERY,ETC.,UNCL...|  113|             FORGERY|PL 1702500|         F|          Q|            113|                0|    18-24|       M|         BLACK| 1045482.0|  191341.0| 40.69166001700007|-73.77919852099996|POINT (-73.779198...|
| 149117452| 01/06/2016|  153|              RAPE 3|  104|                RAPE|PL 1302503|         F|          K|             67|                0|    25-44|       M|         BLACK|  998032.0|  175598.0|40.648650085000035|-73.95033556299995|POINT (-73.950335...|
| 237339209| 12/04/2021|  101|           ASSAULT 3|  344|ASSAULT 3 & RELAT...|PL 1200001|         M|          K|             83|                0|    25-44|       M|         BLACK| 1007400.0|  190154.0|40.688583516000044|-73.91652634699994|POINT (-73.916526...|
| 221756278| 12/12/2020| NULL|                NULL| NULL|                NULL|PL 2203400|         F|          M|             23|                0|    25-44|       M|WHITE HISPANIC|  999998.0|  226211.0| 40.78756730100001|-73.94313233199995|POINT (-73.943132...|
| 237580757| 12/09/2021|  105|   STRANGULATION 1ST|  106|      FELONY ASSAULT|PL 1211200|         F|          M|             30|                0|    25-44|       M|         BLACK|  999751.0|  241188.0| 40.82867545800008|-73.94398971599996|POINT (-73.943989...|
| 190049060| 11/15/2018|  157|              RAPE 1|  104|                RAPE|PL 1303501|         F|          K|             77|                0|    25-44|       M|         BLACK| 1003606.0|  185050.0| 40.67458330800008|-73.93022154099998|POINT (-73.930221...|
|  24288194| 09/13/2006|  203|TRESPASS 3, CRIMINAL|  352|   CRIMINAL TRESPASS|PL 140100E|         M|          K|             77|                2|    45-64|       M|         BLACK| 1004580.0|  183838.0| 40.67125445700003|     -73.926713851|POINT (-73.926713...|
| 221870158| 12/15/2020|  297|FACILITATION 4, C...|  354|ANTICIPATORY OFFE...|PL 1150000|         M|          K|             75|                0|    45-64|       F|         BLACK| 1019745.0|  184405.0| 40.67276293200007|-73.87204263699994|POINT (-73.872042...|
| 220422940| 11/12/2020|  157|              RAPE 1|  104|                RAPE|PL 1303502|         F|          Q|            112|                0|    25-44|       M|         BLACK| 1025420.0|  202485.0| 40.72236368700004|-73.85147389399998|POINT (-73.851473...|
| 237954587| 12/16/2021|  397|ROBBERY,OPEN AREA...|  105|             ROBBERY|PL 1600500|         F|          M|              1|                0|    25-44|       M|         WHITE|  982351.0|  201758.0|40.720463840000036|-74.00685220399998|POINT (-74.006852...|
| 189182271| 10/24/2018|  153|              RAPE 3|  104|                RAPE|PL 1302503|         F|          M|              5|                0|    45-64|       M|WHITE HISPANIC|  984946.0|  200203.0|40.716195914000025|-73.99749074599998|POINT (-73.997490...|
| 222293770| 12/27/2020|  681|CHILD, ENDANGERIN...|  233|          SEX CRIMES|PL 2601001|         M|          B|             43|                0|    25-44|       M|         BLACK| 1020316.0|  239179.0| 40.82310129900002|-73.86969046099993|POINT (-73.869690...|
+----------+-----------+-----+--------------------+-----+--------------------+----------+----------+-----------+---------------+-----------------+---------+--------+--------------+----------+----------+------------------+------------------+--------------------+
only showing top 20 rows

In [11]:
#Información de columnas
df3.describe().show()

+-------+--------------------+-----------+-----------------+--------------------+-----------------+--------------------+----------+----------+-----------+-----------------+------------------+---------+--------+--------------------+------------------+-----------------+-------------------+-------------------+--------------------+
|summary|          ARREST_KEY|ARREST_DATE|            PD_CD|             PD_DESC|            KY_CD|           OFNS_DESC|  LAW_CODE|LAW_CAT_CD|ARREST_BORO|  ARREST_PRECINCT| JURISDICTION_CODE|AGE_GROUP|PERP_SEX|           PERP_RACE|        X_COORD_CD|       Y_COORD_CD|           Latitude|          Longitude|             Lon_Lat|
+-------+--------------------+-----------+-----------------+--------------------+-----------------+--------------------+----------+----------+-----------+-----------------+------------------+---------+--------+--------------------+------------------+-----------------+-------------------+-------------------+--------------------+
|  count|              186957|     186957|           186900|              186735|           186735|              186735|    186952|    185456|     186957|           186957|            186957|   186957|  186957|              186957|            186956|           186956|             186956|             186956|              186956|
|   mean|2.0436211348978642E8|       NULL|435.2008507223114|                NULL|254.4677216376148|                NULL|      NULL|      NULL|       NULL|63.16694213107827|1.7347785854501303|     NULL|    NULL|                NULL|1005571.8431609577|208195.2402222983| 40.738080425262254| -73.92303425260204|                NULL|
| stddev|1.1955059674013432E7|       NULL|279.8570473309184|                NULL|153.1695603088002|                NULL|      NULL|      NULL|       NULL|34.71898635451871|11.677611498285136|     NULL|    NULL|                NULL|21487.823641783434| 30181.8694170402|0.08284719724312939|0.07749226404025371|                NULL|
|    min|            10209522| 01/01/2019|                0|A.B.C.,FALSE PROO...|              101| ADMINISTRATIVE CODE|ABC00000MA|         F|          B|                1|                 0|    18-24|       F|AMERICAN INDIAN/A...|          914103.0|         121474.0|  40.49985023500005| -74.25225064499995|POINT (-73.700293...|
|    max|           238451012| 12/31/2020|              997|WEAPONS,PROHIBITE...|              995|VEHICLE AND TRAFF...|VTL123400A|         V|          S|              123|                97|      <18|       M|      WHITE HISPANIC|         1067302.0|         271730.0|  40.91247643000003| -73.70029334799995|POINT (-74.252250...|
+-------+--------------------+-----------+-----------------+--------------------+-----------------+--------------------+----------+----------+-----------+-----------------+------------------+---------+--------+--------------------+------------------+-----------------+-------------------+-------------------+--------------------+

In [12]:
df3.columns

['ARREST_KEY',
 'ARREST_DATE',
 'PD_CD',
 'PD_DESC',
 'KY_CD',
 'OFNS_DESC',
 'LAW_CODE',
 'LAW_CAT_CD',
 'ARREST_BORO',
 'ARREST_PRECINCT',
 'JURISDICTION_CODE',
 'AGE_GROUP',
 'PERP_SEX',
 'PERP_RACE',
 'X_COORD_CD',
 'Y_COORD_CD',
 'Latitude',
 'Longitude',
 'Lon_Lat']

# Informacion General de los DataFrame

In [13]:
# Cantidad de filas en el DataFrame 1
print("Número de filas en el DataFrame uno: ", df1.count())

# Cantidad de columnas en el DataFrame
print("Número de columnas en el DataFrame uno: ", len(df1.columns))

print("----------------------------------------------")

# Cantidad de filas en el DataFrame 2
print("Número de filas en el DataFrame dos:", df2.count())

# Cantidad de columnas en el DataFrame
print("Número de columnas en el DataFrame dos: ", len(df2.columns))

print("----------------------------------------------")

# Cantidad de filas en el DataFrame 3
print("Número de filas en el DataFrame tres: ", df3.count())

# Cantidad de columnas en el DataFrame
print("Número de columnas en el DataFrame Tres: ", len(df3.columns))

Número de filas en el DataFrame uno:  138102
Número de columnas en el DataFrame uno:  21
----------------------------------------------
Número de filas en el DataFrame dos: 170915
Número de columnas en el DataFrame dos:  29
----------------------------------------------
Número de filas en el DataFrame tres:  186957
Número de columnas en el DataFrame Tres:  19

In [14]:
from pyspark.sql.functions import col

# Contar valores nulos en cada columna del DataFrame 1
missing_values_df1 = df1.agg(*[count(when(col(c).isNull(), c)).alias(c) for c in df1.columns])

# Contar valores nulos en cada columna del DataFrame 2
missing_values_df2 = df2.agg(*[count(when(col(c).isNull(), c)).alias(c) for c in df2.columns])

# Contar valores nulos en cada columna del DataFrame 3
missing_values_df3 = df3.agg(*[count(when(col(c).isNull(), c)).alias(c) for c in df3.columns])

# Muestra los resultados
print("Valores nulos del DataFrame uno: ")
missing_values_df1.show()

print("Valores nulos del DataFrame dos: ")
missing_values_df2.show()

print("Valores nulos del DataFrame tres: ")
missing_values_df3.show()

Valores nulos del DataFrame uno:
+---------+------------+----------+----------+---------+-----------+-------------+----------+----------+--------+----------------+-------------+-------------------+----------------+------------+----------+---------+--------+---------------------+---------------------+----------+
|UNIQUE_ID|COLLISION_ID|CRASH_DATE|CRASH_TIME|PERSON_ID|PERSON_TYPE|PERSON_INJURY|VEHICLE_ID|PERSON_AGE|EJECTION|EMOTIONAL_STATUS|BODILY_INJURY|POSITION_IN_VEHICLE|SAFETY_EQUIPMENT|PED_LOCATION|PED_ACTION|COMPLAINT|PED_ROLE|CONTRIBUTING_FACTOR_1|CONTRIBUTING_FACTOR_2|PERSON_SEX|
+---------+------------+----------+----------+---------+-----------+-------------+----------+----------+--------+----------------+-------------+-------------------+----------------+------------+----------+---------+--------+---------------------+---------------------+----------+
|        0|           0|         0|         0|        1|          0|            0|     32430|     28605|   79871|           70451|        70429|              79810|           79826|      126971|    127003|    70431|    4676|               128263|               128279|     29508|
+---------+------------+----------+----------+---------+-----------+-------------+----------+----------+--------+----------------+-------------+-------------------+----------------+------------+----------+---------+--------+---------------------+---------------------+----------+

Valores nulos del DataFrame dos:
+----------+----------+-------+--------+--------+---------+--------+--------------+-----------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|CRASH DATE|CRASH TIME|BOROUGH|ZIP CODE|LATITUDE|LONGITUDE|LOCATION|ON STREET NAME|CROSS STREET NAME|OFF STREET NAME|NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|NUMBER OF PEDESTRIANS INJURED|NUMBER OF PEDESTRIANS KILLED|NUMBER OF CYCLIST INJURED|NUMBER OF CYCLIST KILLED|NUMBER OF MOTORIST INJURED|NUMBER OF MOTORIST KILLED|CONTRIBUTING FACTOR VEHICLE 1|CONTRIBUTING FACTOR VEHICLE 2|CONTRIBUTING FACTOR VEHICLE 3|CONTRIBUTING FACTOR VEHICLE 4|CONTRIBUTING FACTOR VEHICLE 5|COLLISION_ID|VEHICLE TYPE CODE 1|VEHICLE TYPE CODE 2|VEHICLE TYPE CODE 3|VEHICLE TYPE CODE 4|VEHICLE TYPE CODE 5|
+----------+----------+-------+--------+--------+---------+--------+--------------+-----------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|         0|         0|  58726|   58748|   14572|    14572|   14572|         46495|            91794|         124423|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                          865|                        38691|                       153691|                       166252|                       169498|           0|               2062|              56887|             154912|             166503|             169548|
+----------+----------+-------+--------+--------+---------+--------+--------------+-----------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+-------------------+-------------------+-------------------+-------------------+

Valores nulos del DataFrame tres:
+----------+-----------+-----+-------+-----+---------+--------+----------+-----------+---------------+-----------------+---------+--------+---------+----------+----------+--------+---------+-------+
|ARREST_KEY|ARREST_DATE|PD_CD|PD_DESC|KY_CD|OFNS_DESC|LAW_CODE|LAW_CAT_CD|ARREST_BORO|ARREST_PRECINCT|JURISDICTION_CODE|AGE_GROUP|PERP_SEX|PERP_RACE|X_COORD_CD|Y_COORD_CD|Latitude|Longitude|Lon_Lat|
+----------+-----------+-----+-------+-----+---------+--------+----------+-----------+---------------+-----------------+---------+--------+---------+----------+----------+--------+---------+-------+
|         0|          0|   57|    222|  222|      222|       5|      1501|          0|              0|                0|        0|       0|        0|         1|         1|       1|        1|      1|
+----------+-----------+-----+-------+-----+---------+--------+----------+-----------+---------------+-----------------+---------+--------+---------+----------+----------+--------+---------+-------+

# Técnicas para tratar los valores faltantes

In [15]:
from pyspark.sql.functions import mean, when

# Calcular la media de las columnas numéricas en el DataFrame 1
numeric_columns_df1 = [c for c, t in df1.dtypes if t in ['int', 'double']]
means_df1 = df1.select([mean(col(c)).alias(c) for c in numeric_columns_df1])

# Calcular la media de las columnas numéricas en el DataFrame 2
numeric_columns_df2 = [c for c, t in df2.dtypes if t in ['int', 'double']]
means_df2 = df2.select([mean(col(c)).alias(c) for c in numeric_columns_df2])

# Calcular la media de las columnas numéricas en el DataFrame 3
numeric_columns_df3 = [c for c, t in df3.dtypes if t in ['int', 'double']]
means_df3 = df3.select([mean(col(c)).alias(c) for c in numeric_columns_df3])

In [16]:
# Imputar los valores nulos en el DataFrame 2 con la media
df1_imputed = df1
for column in numeric_columns_df1:
    df1_imputed = df1_imputed.withColumn(column, when(col(column).isNull(), means_df1.first()[column]).otherwise(col(column)))

# Imputa los valores faltantes en columnas categóricas con un valor específico (por ejemplo, "N/A")
categorical_columns = [c[0] for c in df1.dtypes if c[1] == 'string']

for column in categorical_columns:
    df1 = df1.na.fill("N/A", [column])

In [17]:
# Imputar los valores nulos en el DataFrame 2 con la media
df2_imputed = df2
for column in numeric_columns_df2:
    df2_imputed = df2_imputed.withColumn(column, when(col(column).isNull(), means_df2.first()[column]).otherwise(col(column)))

# Imputa los valores faltantes en columnas categóricas con un valor específico (por ejemplo, "N/A")
categorical_columns = [c[0] for c in df2.dtypes if c[1] == 'string']

for column in categorical_columns:
    df2 = df2.na.fill("N/A", [column])

In [18]:
# Imputar los valores nulos en el DataFrame 2 con la media
df3_imputed = df3
for column in numeric_columns_df3:
    df3_imputed = df3_imputed.withColumn(column, when(col(column).isNull(), means_df3.first()[column]).otherwise(col(column)))

# Imputa los valores faltantes en columnas categóricas con un valor específico (por ejemplo, "N/A")
categorical_columns = [c[0] for c in df3.dtypes if c[1] == 'string']

for column in categorical_columns:
    df3 = df3.na.fill("N/A", [column])

In [19]:
# DataFrame 1 imputados
df1_imputed.show(10)

+-----------+------------+----------+-------------------+--------------------+-----------+-------------+--------------------+-----------------+-----------+----------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+---------------+---------------------+---------------------+----------+
|  UNIQUE_ID|COLLISION_ID|CRASH_DATE|         CRASH_TIME|           PERSON_ID|PERSON_TYPE|PERSON_INJURY|          VEHICLE_ID|       PERSON_AGE|   EJECTION|EMOTIONAL_STATUS|       BODILY_INJURY| POSITION_IN_VEHICLE|  SAFETY_EQUIPMENT|        PED_LOCATION|          PED_ACTION|           COMPLAINT|       PED_ROLE|CONTRIBUTING_FACTOR_1|CONTRIBUTING_FACTOR_2|PERSON_SEX|
+-----------+------------+----------+-------------------+--------------------+-----------+-------------+--------------------+-----------------+-----------+----------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+---------------+---------------------+---------------------+----------+
|1.0249006E7|   4229554.0|10/26/2019|2023-11-12 09:43:00|31aa2bc0-f545-444...|   Occupant|  Unspecified|         1.9141108E7|37.03000082194033|       NULL|            NULL|                NULL|                NULL|              NULL|                NULL|                NULL|                NULL|     Registrant|                 NULL|                 NULL|         U|
|1.0255054E7|   4230587.0|10/25/2019|2023-11-12 15:15:00|4629e500-a73e-48d...|   Occupant|  Unspecified|         1.9144075E7|             33.0|Not Ejected|  Does Not Apply|      Does Not Apply|Front passenger, ...|Lap Belt & Harness|                NULL|                NULL|      Does Not Apply|      Passenger|                 NULL|                 NULL|         F|
|1.0253177E7|   4230550.0|10/26/2019|2023-11-12 17:55:00|ae48c136-1383-45d...|   Occupant|  Unspecified|         1.9143133E7|             55.0|       NULL|            NULL|                NULL|                NULL|              NULL|                NULL|                NULL|                NULL|     Registrant|                 NULL|                 NULL|         M|
|  6650180.0|   3565527.0|11/21/2016|2023-11-12 13:05:00|             2782525|   Occupant|  Unspecified|1.8087574285364147E7|37.03000082194033|       NULL|            NULL|                NULL|                NULL|              NULL|                NULL|                NULL|                NULL|Notified Person|                 NULL|                 NULL|      NULL|
|1.0255516E7|   4231168.0|10/25/2019|2023-11-12 11:16:00|e038e18f-40fb-447...|   Occupant|  Unspecified|         1.9144329E7|              7.0|Not Ejected|  Does Not Apply|      Does Not Apply|Right rear passen...|          Lap Belt|                NULL|                NULL|      Does Not Apply|      Passenger|                 NULL|                 NULL|         F|
|1.0253606E7|   4230743.0|10/24/2019|2023-11-12 19:15:00|84bcb3a7-d201-4c6...|   Occupant|      Injured|         1.9143343E7|             27.0|Not Ejected|       Conscious|                Back|              Driver|Lap Belt & Harness|                NULL|                NULL|Complaint of Pain...|         Driver|                 NULL|                 NULL|         M|
|1.0251336E7|   4230047.0|10/26/2019|2023-11-12 16:45:00|21064a07-a945-49d...|   Occupant|  Unspecified|         1.9142198E7|             41.0|       NULL|            NULL|                NULL|                NULL|              NULL|                NULL|                NULL|                NULL|     Registrant|                 NULL|                 NULL|         F|
|1.0248708E7|   4229547.0|10/26/2019|2023-11-12 01:15:00|a8904763-2870-42f...| Pedestrian|      Injured|1.8087574285364147E7|             24.0|       NULL|       Conscious|Shoulder - Upper Arm|                NULL|              NULL|Pedestrian/Bicycl...|Crossing With Signal|        None Visible|     Pedestrian|          Unspecified|          Unspecified|         F|
|1.0250179E7|   4229808.0|10/26/2019|2023-11-12 13:04:00|c3fc715e-203f-462...|   Occupant|  Unspecified|          1.914163E7|             36.0|Not Ejected|  Does Not Apply|      Does Not Apply|              Driver|Lap Belt & Harness|                NULL|                NULL|      Does Not Apply|         Driver|                 NULL|                 NULL|         M|
|1.0253792E7|   4230915.0|10/24/2019|2023-11-12 08:20:00|793ac6c6-cbc7-4ab...|   Occupant|  Unspecified|         1.9143438E7|37.03000082194033|       NULL|            NULL|                NULL|                NULL|              NULL|                NULL|                NULL|                NULL|     Registrant|                 NULL|                 NULL|         U|
+-----------+------------+----------+-------------------+--------------------+-----------+-------------+--------------------+-----------------+-----------+----------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+---------------+---------------------+---------------------+----------+
only showing top 10 rows

In [20]:
# DataFrame 2 imputados
df2_imputed.show(10)

+----------+-------------------+---------+------------------+------------------+------------------+--------------------+--------------------+-----------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+--------------------+-------------------+-------------------+-------------------+
|CRASH DATE|         CRASH TIME|  BOROUGH|          ZIP CODE|          LATITUDE|         LONGITUDE|            LOCATION|      ON STREET NAME|CROSS STREET NAME|     OFF STREET NAME|NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|NUMBER OF PEDESTRIANS INJURED|NUMBER OF PEDESTRIANS KILLED|NUMBER OF CYCLIST INJURED|NUMBER OF CYCLIST KILLED|NUMBER OF MOTORIST INJURED|NUMBER OF MOTORIST KILLED|CONTRIBUTING FACTOR VEHICLE 1|CONTRIBUTING FACTOR VEHICLE 2|CONTRIBUTING FACTOR VEHICLE 3|CONTRIBUTING FACTOR VEHICLE 4|CONTRIBUTING FACTOR VEHICLE 5|COLLISION_ID|VEHICLE TYPE CODE 1| VEHICLE TYPE CODE 2|VEHICLE TYPE CODE 3|VEHICLE TYPE CODE 4|VEHICLE TYPE CODE 5|
+----------+-------------------+---------+------------------+------------------+------------------+--------------------+--------------------+-----------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+--------------------+-------------------+-------------------+-------------------+
|09/11/2021|2023-11-12 02:39:00|     NULL|10889.455499389303|40.127169389020146|-72.83116396007276|                NULL|WHITESTONE EXPRES...|        20 AVENUE|                NULL|                      2.0|                     0.0|                          0.0|                         0.0|                      0.0|                     0.0|                       2.0|                      0.0|         Aggressive Drivin...|                  Unspecified|                         NULL|                         NULL|                         NULL|   4455765.0|              Sedan|               Sedan|               NULL|               NULL|               NULL|
|03/26/2022|2023-11-12 11:45:00|     NULL|10889.455499389303|40.127169389020146|-72.83116396007276|                NULL|QUEENSBORO BRIDGE...|             NULL|                NULL|                      1.0|                     0.0|                          0.0|                         0.0|                      0.0|                     0.0|                       1.0|                      0.0|            Pavement Slippery|                         NULL|                         NULL|                         NULL|                         NULL|   4513547.0|              Sedan|                NULL|               NULL|               NULL|               NULL|
|06/29/2022|2023-11-12 06:55:00|     NULL|10889.455499389303|40.127169389020146|-72.83116396007276|                NULL|  THROGS NECK BRIDGE|             NULL|                NULL|                      0.0|                     0.0|                          0.0|                         0.0|                      0.0|                     0.0|                       0.0|                      0.0|         Following Too Clo...|                  Unspecified|                         NULL|                         NULL|                         NULL|   4541903.0|              Sedan|       Pick-up Truck|               NULL|               NULL|               NULL|
|09/11/2021|2023-11-12 09:35:00| BROOKLYN|           11208.0|         40.667202|          -73.8665|(40.667202, -73.8...|                NULL|             NULL|1211      LORING ...|                      0.0|                     0.0|                          0.0|                         0.0|                      0.0|                     0.0|                       0.0|                      0.0|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|   4456314.0|              Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 08:13:00| BROOKLYN|           11233.0|         40.683304|        -73.917274|(40.683304, -73.9...|     SARATOGA AVENUE|   DECATUR STREET|                NULL|                      0.0|                     0.0|                          0.0|                         0.0|                      0.0|                     0.0|                       0.0|                      0.0|                         NULL|                         NULL|                         NULL|                         NULL|                         NULL|   4486609.0|               NULL|                NULL|               NULL|               NULL|               NULL|
|04/14/2021|2023-11-12 12:47:00|     NULL|10889.455499389303|40.127169389020146|-72.83116396007276|                NULL|MAJOR DEEGAN EXPR...|             NULL|                NULL|                      0.0|                     0.0|                          0.0|                         0.0|                      0.0|                     0.0|                       0.0|                      0.0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|   4407458.0|               Dump|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 17:05:00|     NULL|10889.455499389303|         40.709183|        -73.956825|(40.709183, -73.9...|BROOKLYN QUEENS E...|             NULL|                NULL|                      0.0|                     0.0|                          0.0|                         0.0|                      0.0|                     0.0|                       0.0|                      0.0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|   4486555.0|              Sedan|Tractor Truck Diesel|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 08:17:00|    BRONX|           10475.0|          40.86816|         -73.83148|(40.86816, -73.83...|                NULL|             NULL|344       BAYCHES...|                      2.0|                     0.0|                          0.0|                         0.0|                      0.0|                     0.0|                       2.0|                      0.0|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|   4486660.0|              Sedan|               Sedan|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 21:10:00| BROOKLYN|           11207.0|          40.67172|          -73.8971|(40.67172, -73.8971)|                NULL|             NULL|2047      PITKIN ...|                      0.0|                     0.0|                          0.0|                         0.0|                      0.0|                     0.0|                       0.0|                      0.0|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|   4487074.0|              Sedan|                NULL|               NULL|               NULL|               NULL|
|12/14/2021|2023-11-12 14:58:00|MANHATTAN|           10017.0|          40.75144|         -73.97397|(40.75144, -73.97...|            3 AVENUE|   EAST 43 STREET|                NULL|                      0.0|                     0.0|                          0.0|                         0.0|                      0.0|                     0.0|                       0.0|                      0.0|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|   4486519.0|              Sedan|Station Wagon/Spo...|               NULL|               NULL|               NULL|
+----------+-------------------+---------+------------------+------------------+------------------+--------------------+--------------------+-----------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+--------------------+-------------------+-------------------+-------------------+
only showing top 10 rows

In [21]:
# DataFrame 3 imputados
df3_imputed.show(10)

+------------+-----------+-----------------+--------------------+-----------------+---------------+----------+----------+-----------+---------------+-----------------+---------+--------+--------------+------------------+-----------------+------------------+------------------+--------------------+
|  ARREST_KEY|ARREST_DATE|            PD_CD|             PD_DESC|            KY_CD|      OFNS_DESC|  LAW_CODE|LAW_CAT_CD|ARREST_BORO|ARREST_PRECINCT|JURISDICTION_CODE|AGE_GROUP|PERP_SEX|     PERP_RACE|        X_COORD_CD|       Y_COORD_CD|          Latitude|         Longitude|             Lon_Lat|
+------------+-----------+-----------------+--------------------+-----------------+---------------+----------+----------+-----------+---------------+-----------------+---------+--------+--------------+------------------+-----------------+------------------+------------------+--------------------+
|2.36791704E8| 11/22/2021|            581.0|                NULL|254.4677216376148|           NULL|PL 2225001|         M|          M|           28.0|              0.0|    45-64|       M|         BLACK|          997427.0|         230378.0|40.799008797000056|-73.95240854099995|POINT (-73.952408...|
| 2.3735474E8| 12/04/2021|            153.0|              RAPE 3|            104.0|           RAPE|PL 1302502|         F|          B|           41.0|              0.0|    25-44|       M|WHITE HISPANIC|         1013232.0|         236725.0|40.816391847000034|-73.89529641399997|POINT (-73.895296...|
|2.36081433E8| 11/09/2021|            681.0|CHILD, ENDANGERIN...|            233.0|     SEX CRIMES|PL 2601001|         M|          Q|          113.0|              0.0|    25-44|       M|         BLACK|         1046367.0|         186986.0| 40.67970040800003|-73.77604736799998|POINT (-73.776047...|
|  3.231138E7| 06/18/2007|            511.0|CONTROLLED SUBSTA...|            235.0|DANGEROUS DRUGS|PL 2200300|         M|          Q|           27.0|              1.0|    18-24|       M|         BLACK|1005571.8431609577|208195.2402222983|40.738080425262254|-73.92303425260204|                NULL|
|1.92799737E8| 01/26/2019|            177.0|        SEXUAL ABUSE|            116.0|     SEX CRIMES|PL 1306503|         F|          M|           25.0|              0.0|    45-64|       M|         BLACK|         1000555.0|         230994.0|40.800694331000045|-73.94110928599997|POINT (-73.941109...|
|1.93260691E8| 02/06/2019|435.2008507223114|                NULL|254.4677216376148|           NULL|PL 2203400|         F|          M|           14.0|              0.0|    25-44|       M|       UNKNOWN|          986685.0|         215375.0| 40.75783900300007|-73.99121211099998|POINT (-73.991212...|
|2.37291769E8| 12/03/2021|            579.0|                NULL|254.4677216376148|           NULL|PL 2224001|         F|          Q|          115.0|              0.0|    25-44|       M|         BLACK|         1018534.0|         220579.0| 40.77205649600006|-73.87622400099998|POINT (-73.876224...|
|2.36106641E8| 11/10/2021|            263.0|         ARSON 2,3,4|            114.0|          ARSON|PL 1501001|         F|          B|           41.0|             72.0|    25-44|       M|WHITE HISPANIC|         1017934.0|         232221.0|40.804012949000025|-73.87833183299993|POINT (-73.878331...|
|2.38383628E8| 12/28/2021|            729.0|FORGERY,ETC.,UNCL...|            113.0|        FORGERY|PL 1702500|         F|          Q|          113.0|              0.0|    18-24|       M|         BLACK|         1045482.0|         191341.0| 40.69166001700007|-73.77919852099996|POINT (-73.779198...|
|1.49117452E8| 01/06/2016|            153.0|              RAPE 3|            104.0|           RAPE|PL 1302503|         F|          K|           67.0|              0.0|    25-44|       M|         BLACK|          998032.0|         175598.0|40.648650085000035|-73.95033556299995|POINT (-73.950335...|
+------------+-----------+-----------------+--------------------+-----------------+---------------+----------+----------+-----------+---------------+-----------------+---------+--------+--------------+------------------+-----------------+------------------+------------------+--------------------+
only showing top 10 rows

In [22]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

In [23]:
from pyspark.sql.functions import to_date, year, month, date_format
import folium

# 1. Convertir la columna "CRASH_DATE" a tipo Date y extraer el año y el mes
df1_imputed = df1_imputed.withColumn("CRASH_DATE", to_date("CRASH_DATE", "MM/dd/yyyy"))
df1_imputed = df1_imputed.withColumn("CRASH_YEAR", year("CRASH_DATE"))
df1_imputed = df1_imputed.withColumn("CRASH_MONTH", month("CRASH_DATE"))

In [24]:
# Contar las causas de accidentes
causas_accidentes = df1_imputed.groupBy("CONTRIBUTING_FACTOR_1").count()

In [25]:
# Analizar la evolución de las causas en el tiempo
causas_por_fecha = df1_imputed.groupBy("CRASH_YEAR", "CRASH_MONTH", "CONTRIBUTING_FACTOR_1").count()

In [26]:
from pyspark.sql.functions import col, count, when, mean, to_date
import folium

# Crear un mapa con marcadores de accidentes
m = folium.Map(location=[40.7128, -74.0060], zoom_start=10)

# Utiliza show() para mostrar una muestra de los datos en lugar de collect()
sample_data = df2_imputed.limit(100).collect()

for row in sample_data:
    folium.Marker([row["LATITUDE"], row["LONGITUDE"]]).add_to(m)

m.save('mapa_accidentes.html')

In [27]:
# 4. Analizar grupos demográficos en arrestos
grupos_demograficos_arrestos = df3_imputed.select("PERP_SEX", "AGE_GROUP", "PERP_RACE")

# Analizar grupos demográficos en accidentes
grupos_demograficos_accidentes = df1_imputed.select("PERSON_SEX", "PERSON_AGE")

In [28]:
# 5. Analizar patrones horarios, diarios y estacionales en accidentes
df1_imputed = df1_imputed.withColumn("CRASH_TIME", date_format("CRASH_DATE", "HH"))
df1_imputed = df1_imputed.withColumn("DAY_OF_WEEK", date_format("CRASH_DATE", "u"))
df1_imputed = df1_imputed.withColumn("MONTH", date_format("CRASH_DATE", "MM"))

patrones_horarios = df1_imputed.groupBy("CRASH_TIME").count()
patrones_diarios = df1_imputed.groupBy("DAY_OF_WEEK").count()
patrones_estacionales = df1_imputed.groupBy("MONTH").count()

In [29]:
# 6. Calcular la tasa de reincidencia en arrestos y accidentes
tasa_reincidencia_arrestos = df3_imputed.dropDuplicates(["ARREST_KEY"]).count() / df3_imputed.count()
tasa_reincidencia_accidentes = df1_imputed.dropDuplicates(["UNIQUE_ID"]).count() / df1_imputed.count()

In [ ]:
# Mostrar una vista previa de los datos
descripcion_arrestos = grupos_demograficos_arrestos.describe()
descripcion_accidentes = grupos_demograficos_accidentes.describe()
descripcion_arrestos.show()
descripcion_accidentes.show()
patrones_horarios.show()
patrones_diarios.show()
patrones_estacionales.show()

+-------+--------+---------+--------------------+
|summary|PERP_SEX|AGE_GROUP|           PERP_RACE|
+-------+--------+---------+--------------------+
|  count|  186957|   186957|              186957|
|   mean|    NULL|     NULL|                NULL|
| stddev|    NULL|     NULL|                NULL|
|    min|       F|    18-24|AMERICAN INDIAN/A...|
|    max|       M|      <18|      WHITE HISPANIC|
+-------+--------+---------+--------------------+

In [ ]:
# ¿Cuáles son las causas más comunes de accidentes en el conjunto de datos?
causas_accidentes = df1_imputed.groupBy("CONTRIBUTING_FACTOR_1").count()
causas_accidentes.orderBy("count", ascending=False).show()

In [ ]:
#¿Cómo ha evolucionado la frecuencia de las causas de accidentes a lo largo de los años y meses?
causas_por_fecha = df1_imputed.groupBy("CRASH_YEAR", "CRASH_MONTH", "CONTRIBUTING_FACTOR_1").count()
causas_por_fecha.orderBy("CRASH_YEAR", "CRASH_MONTH").show()

In [ ]:
#¿En qué áreas geográficas se concentran los accidentes?
from pyspark.sql.functions import col, count, when, mean, to_date
import folium

# Crear un mapa con marcadores de accidentes
m = folium.Map(location=[40.7128, -74.0060], zoom_start=10)

# Utiliza show() para mostrar una muestra de los datos en lugar de collect()
sample_data = df2_imputed.limit(100).collect()

for row in sample_data:
    folium.Marker([row["LATITUDE"], row["LONGITUDE"]]).add_to(m)

m.save('mapa_accidentes.html')

In [ ]:
#¿Hay disparidades demográficas en la distribución de arrestos y accidentes?
grupos_demograficos_arrestos = df3_imputed.groupBy("PERP_SEX", "AGE_GROUP", "PERP_RACE").count()
grupos_demograficos_arrestos.show()

grupos_demograficos_accidentes = df1_imputed.groupBy("PERSON_SEX", "PERSON_AGE").count()
grupos_demograficos_accidentes.show()

In [ ]:
#¿Cuáles son los momentos del día, días de la semana o meses con una mayor incidencia de accidentes?
patrones_horarios = df1_imputed.groupBy("CRASH_TIME").count()
patrones_horarios.orderBy("count", ascending=False).show()

patrones_diarios = df1_imputed.groupBy("DAY_OF_WEEK").count()
patrones_diarios.orderBy("DAY_OF_WEEK").show()

patrones_estacionales = df1_imputed.groupBy("MONTH").count()
patrones_estacionales.orderBy("MONTH").show()

In [ ]:
# ¿Cuál es la tasa de reincidencia en arrestos y accidentes?
tasa_reincidencia_arrestos = df3_imputed.dropDuplicates(["ARREST_KEY"]).count() / df3_imputed.count()
print("Tasa de reincidencia en arrestos:", tasa_reincidencia_arrestos)

tasa_reincidencia_accidentes = df1_imputed.dropDuplicates(["UNIQUE_ID"]).count() / df1_imputed.count()
print("Tasa de reincidencia en accidentes:", tasa_reincidencia_accidentes)

------------------------------

In [ ]:
from pyspark.sql.functions import to_date

# Analizar la evolución de las causas en el tiempo
# Convertir la columna "CRASH_DATE" a tipo Date
df1_imputed = df1_imputed.withColumn("CRASH_DATE", to_date("CRASH_DATE", "MM/dd/yyyy"))

# Contar las causas de accidentes
causas_accidentes = df1_imputed.groupBy("CONTRIBUTING_FACTOR_1").count()

# Analizar la evolución de las causas en el tiempo
causas_por_fecha = df1_imputed.groupBy("CRASH_DATE", "CONTRIBUTING_FACTOR_1").count()

In [ ]:
from pyspark.sql.functions import col, count, when, mean, to_date
import folium

# Crear un mapa con marcadores de accidentes
m = folium.Map(location=[40.7128, -74.0060], zoom_start=10)

# Utiliza show() para mostrar una muestra de los datos en lugar de collect()
sample_data = df2_imputed.limit(100).collect()

for row in sample_data:
    folium.Marker([row["LATITUDE"], row["LONGITUDE"]]).add_to(m)

m.save('mapa_accidentes.html')

In [ ]:
# Analizar grupos demográficos en arrestos
grupos_demograficos_arrestos = df3_imputed.select("PERP_SEX", "AGE_GROUP", "PERP_RACE")

# Analizar grupos demográficos en accidentes
grupos_demograficos_accidentes = df1_imputed.select("PERSON_SEX", "PERSON_AGE")

# Realizar análisis descriptivo
descripcion_arrestos = grupos_demograficos_arrestos.describe()
descripcion_accidentes = grupos_demograficos_accidentes.describe()

In [ ]:
from pyspark.sql.functions import hour, dayofweek, month

# Analizar patrones horarios en accidentes
df2_imputed = df2_imputed.withColumn("CRASH_TIME", to_date("CRASH TIME", "MM/dd/yyyy HH:mm:ss"))
patrones_horarios = df2_imputed.groupBy(hour("CRASH_TIME")).count()

# Analizar patrones diarios en accidentes
patrones_diarios = df2_imputed.groupBy(dayofweek("CRASH_TIME")).count()

# Analizar patrones estacionales en accidentes
patrones_estacionales = df2_imputed.groupBy(month("CRASH_TIME")).count()

In [ ]:
# Calcular la tasa de reincidencia en arrestos
tasa_reincidencia_arrestos = df3_imputed.dropDuplicates(["ARREST_KEY"]).count() / df3_imputed.count()

# Calcular la tasa de reincidencia en accidentes
tasa_reincidencia_accidentes = df1_imputed.dropDuplicates(["UNIQUE_ID"]).count() / df1_imputed.count()

In [ ]:
# Mostrar una vista previa de los datos
descripcion_arrestos.show()
descripcion_accidentes.show()
patrones_horarios.show()
patrones_diarios.show()
patrones_estacionales.show()

#*Preparación previa de los datos para la implementación de los modelos*

# Correlaciones

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation
from pyspark.sql.functions import col
from pyspark.sql.types import NumericType

# Seleccionar las columnas numéricas del DataFrame
numeric_cols = [column for column in df1_imputed.columns
                if df1_imputed.schema[column].dataType in [NumericType()]]

# Verificar si hay suficientes columnas numéricas
if len(numeric_cols) < 2:
    print("No hay suficientes columnas numéricas para calcular la matriz de correlación.")
else:
    # Crear un VectorAssembler para combinar las columnas numéricas en un solo vector
    assembler = VectorAssembler(inputCols=numeric_cols, outputCol="features")
    assembled_df = assembler.transform(df1_imputed)

    # Calcular la matriz de correlación
    correlation_matrix = Correlation.corr(assembled_df, "features")

    # Obtener la matriz de correlación como un array de NumPy
    correlation_array = correlation_matrix.collect()[0]["pearson(features)"].values

    # Imprimir la matriz de correlación
    print("Matriz de Correlación:")
    print(correlation_array)

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation
from pyspark.sql.functions import col
from pyspark.sql.types import NumericType

# Seleccionar las columnas numéricas del DataFrame
numeric_cols = [column for column in df2_imputed.columns
                if df2_imputed.schema[column].dataType in [NumericType()]]

# Verificar si hay suficientes columnas numéricas
if len(numeric_cols) < 2:
    print("No hay suficientes columnas numéricas para calcular la matriz de correlación.")
else:
    # Crear un VectorAssembler para combinar las columnas numéricas en un solo vector
    assembler = VectorAssembler(inputCols=numeric_cols, outputCol="features")
    assembled_df = assembler.transform(df2_imputed)

    # Calcular la matriz de correlación
    correlation_matrix = Correlation.corr(assembled_df, "features")

    # Obtener la matriz de correlación como un array de NumPy
    correlation_array = correlation_matrix.collect()[0]["pearson(features)"].values

    # Imprimir la matriz de correlación
    print("Matriz de Correlación:")
    print(correlation_array)

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation
from pyspark.sql.functions import col
from pyspark.sql.types import NumericType

# Seleccionar las columnas numéricas del DataFrame
numeric_cols = [column for column in df3_imputed.columns
                if df3_imputed.schema[column].dataType in [NumericType()]]

# Verificar si hay suficientes columnas numéricas
if len(numeric_cols) < 2:
    print("No hay suficientes columnas numéricas para calcular la matriz de correlación.")
else:
    # Crear un VectorAssembler para combinar las columnas numéricas en un solo vector
    assembler = VectorAssembler(inputCols=numeric_cols, outputCol="features")
    assembled_df = assembler.transform(df3_imputed)

    # Calcular la matriz de correlación
    correlation_matrix = Correlation.corr(assembled_df, "features")

    # Obtener la matriz de correlación como un array de NumPy
    correlation_array = correlation_matrix.collect()[0]["pearson(features)"].values

    # Imprimir la matriz de correlación
    print("Matriz de Correlación:")
    print(correlation_array)

# Aplicación de tecnicas

# Normalización

In [ ]:
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler

# Columnas a normalizar
columns_to_normalize = ['PERSON_AGE', 'VEHICLE_ID', 'COLLISION_ID']

# Crear un ensamblador de características
assembler = VectorAssembler(inputCols=columns_to_normalize, outputCol='features')

# Crear un escalador MinMax
scaler = MinMaxScaler(inputCol='features', outputCol='scaled_features')

# Crear el pipeline
pipeline = Pipeline(stages=[assembler, scaler])

# Ajustar y transformar el conjunto de datos
model = pipeline.fit(df1_imputed)
df_normalized = model.transform(df1_imputed)

# Mostrar el conjunto de datos resultante
df_normalized.select('PERSON_AGE', 'VEHICLE_ID', 'COLLISION_ID', 'scaled_features').show(10, truncate=False)

In [ ]:
from pyspark.ml.feature import StandardScaler
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler

# Lista de columnas a normalizar
columns_to_normalize = [
    "LATITUDE",
    "LONGITUDE",
    "NUMBER OF PERSONS INJURED",
    "NUMBER OF PERSONS KILLED",
    "NUMBER OF PEDESTRIANS INJURED",
    "NUMBER OF PEDESTRIANS KILLED",
    "NUMBER OF CYCLIST INJURED",
    "NUMBER OF CYCLIST KILLED",
    "NUMBER OF MOTORIST INJURED",
    "NUMBER OF MOTORIST KILLED"
]

# Crear un ensamblador de características
assembler = VectorAssembler(inputCols=columns_to_normalize, outputCol="features")

# Crear el escalador estándar
scaler = StandardScaler(inputCol="features", outputCol="scaled_features", withStd=True, withMean=True)

# Crear un pipeline
pipeline = Pipeline(stages=[assembler, scaler])

# Aplicar el pipeline al DataFrame
df2_imputed_normalized = pipeline.fit(df2_imputed).transform(df2_imputed)

# Mostrar el DataFrame resultante
df2_imputed_normalized.select("scaled_features").show(truncate=False)

In [ ]:
from pyspark.ml.feature import StandardScaler
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler


numerical_columns = ["ARREST_KEY", "PD_CD", "KY_CD", "ARREST_PRECINCT", "JURISDICTION_CODE", "X_COORD_CD", "Y_COORD_CD", "Latitude", "Longitude"]


assembler = VectorAssembler(inputCols=numerical_columns, outputCol="features")


scaler = StandardScaler(inputCol="features", outputCol="scaled_features", withStd=True, withMean=False)


pipeline = Pipeline(stages=[assembler, scaler])

df_scaled = pipeline.fit(df3_imputed).transform(df3_imputed)

df_scaled.select("scaled_features").show(truncate=False)

# Regresión

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

# Seleccionar las columnas relevantes y eliminar las filas con valores nulos
selected_columns = ['AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT', 'JURISDICTION_CODE']
df3_selected = df3_imputed.select(selected_columns).na.drop()

# Convertir variables categóricas a numéricas utilizando StringIndexer
indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(df3_selected) for column in ['AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'LAW_CAT_CD', 'ARREST_BORO']]

# Ensamblar las características en un solo vector
assembler = VectorAssembler(inputCols=[column+"_index" for column in ['AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'LAW_CAT_CD', 'ARREST_BORO']], outputCol="features")

# Crear el modelo de regresión lineal
lr = LinearRegression(featuresCol="features", labelCol="JURISDICTION_CODE", maxIter=10, regParam=0.3, elasticNetParam=0.8)

# Crear el pipeline
pipeline = Pipeline(stages=indexers + [assembler, lr])

# Dividir los datos en conjunto de entrenamiento y prueba
(training_data, testing_data) = df3_selected.randomSplit([0.8, 0.2])

# Ajustar el modelo al conjunto de entrenamiento
model1r = pipeline.fit(training_data)

# Realizar predicciones en el conjunto de prueba
predictions = model1r.transform(testing_data)

# Evaluar el rendimiento del modelo
evaluator = RegressionEvaluator(labelCol="JURISDICTION_CODE", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)

print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

# Imprimir los coeficientes del modelo
print("Coefficients: %s" % str(model1r.stages[-1].coefficients))
print("Intercept: %s" % str(model1r.stages[-1].intercept))

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

# Seleccionar las columnas relevantes y eliminar las filas con valores nulos
selected_columns = ['AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT', 'JURISDICTION_CODE']
df3_selected = df3_imputed.select(selected_columns).na.drop()

# Convertir variables categóricas a numéricas utilizando StringIndexer
indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(df3_selected) for column in ['AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'LAW_CAT_CD', 'ARREST_BORO']]

# Ensamblar las características en un solo vector
assembler = VectorAssembler(inputCols=[column+"_index" for column in ['AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'LAW_CAT_CD', 'ARREST_BORO']], outputCol="features")

# Crear el modelo de regresión lineal
lr = LinearRegression(featuresCol="features", labelCol="JURISDICTION_CODE", maxIter=20, regParam=0.01, elasticNetParam=0.5)

# Crear el pipeline
pipeline = Pipeline(stages=indexers + [assembler, lr])

# Dividir los datos en conjunto de entrenamiento y prueba
(training_data, testing_data) = df3_selected.randomSplit([0.8, 0.2])

# Ajustar el modelo al conjunto de entrenamiento
model2r = pipeline.fit(training_data)

# Realizar predicciones en el conjunto de prueba
predictions = model2r.transform(testing_data)

# Evaluar el rendimiento del modelo
evaluator = RegressionEvaluator(labelCol="JURISDICTION_CODE", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)

print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

# Imprimir los coeficientes del modelo
print("Coefficients: %s" % str(model2r.stages[-1].coefficients))
print("Intercept: %s" % str(model2r.stages[-1].intercept))

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

# Seleccionar las columnas relevantes y eliminar las filas con valores nulos
selected_columns = ['AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT', 'JURISDICTION_CODE']
df3_selected = df3_imputed.select(selected_columns).na.drop()

# Convertir variables categóricas a numéricas utilizando StringIndexer
indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(df3_selected) for column in ['AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'LAW_CAT_CD', 'ARREST_BORO']]

# Ensamblar las características en un solo vector
assembler = VectorAssembler(inputCols=[column+"_index" for column in ['AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'LAW_CAT_CD', 'ARREST_BORO']], outputCol="features")

# Crear el modelo de regresión lineal

lr = LinearRegression(featuresCol="features",labelCol="JURISDICTION_CODE",maxIter=30, regParam=0.05,elasticNetParam=0.1,tol=1e-6,fitIntercept=True,standardization=True,aggregationDepth=2
)
# Crear el pipeline
pipeline = Pipeline(stages=indexers + [assembler, lr])

# Dividir los datos en conjunto de entrenamiento y prueba
(training_data, testing_data) = df3_selected.randomSplit([0.8, 0.2])

# Ajustar el modelo al conjunto de entrenamiento
model3r = pipeline.fit(training_data)

# Realizar predicciones en el conjunto de prueba
predictions = model2r.transform(testing_data)

# Evaluar el rendimiento del modelo
evaluator = RegressionEvaluator(labelCol="JURISDICTION_CODE", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)

print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

# Imprimir los coeficientes del modelo
print("Coefficients: %s" % str(model3r.stages[-1].coefficients))
print("Intercept: %s" % str(model3r.stages[-1].intercept))

# Clustering

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans
from pyspark.ml import Pipeline


# Seleccionar las columnas relevantes
selected_columns = ['LATITUDE', 'LONGITUDE', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
                    'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
                    'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
                    'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED']

# Filtrar el dataframe y seleccionar las columnas relevantes
df_selected = df2_imputed.select(selected_columns)

# Crear un VectorAssembler para combinar las características en una columna de características
vec_assembler = VectorAssembler(inputCols=selected_columns, outputCol="features")

# Crear un modelo de KMeans con el número de clústeres deseado
kmeans = KMeans().setK(5).setSeed(1)

# Crear un pipeline con el VectorAssembler y el modelo de KMeans
pipeline = Pipeline(stages=[vec_assembler, kmeans])

# Ajustar el modelo al dataframe
model1c = pipeline.fit(df_selected)

# Predecir los clústeres para cada fila en el dataframe
df_clusters1c = model1c.transform(df_selected)

# Mostrar los resultados
df_clusters1c.select('features', 'prediction').show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D

# Convertir el DataFrame de PySpark a un DataFrame de Pandas para la visualización
pd_df = df_clusters1c.select('features', 'prediction').toPandas()

# Obtener las columnas relevantes
features = pd_df['features'].apply(lambda x: x.toArray())
pd_df = pd.concat([pd_df.drop(['features'], axis=1), pd.DataFrame(features.tolist())], axis=1)

# Gráfico 3D
fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111, projection='3d')

# Colores para cada clúster
colors = {0: 'red', 1: 'green', 2: 'blue'}

# Scatter plot
for cluster, color in colors.items():
    cluster_data = pd_df[pd_df['prediction'] == cluster]
    ax.scatter(cluster_data[0], cluster_data[1], cluster_data[2], c=color, label=f'Cluster {cluster}')

# Etiquetas y título
ax.set_xlabel('X')
ax.set_ylabel('Y')
ax.set_zlabel('Z')
ax.set_title('KMeans Clustering')

# Leyenda
ax.legend()

plt.show()

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans
from pyspark.ml import Pipeline


# Seleccionar las columnas relevantes
selected_columns = ['LATITUDE', 'LONGITUDE', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
                    'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
                    'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
                    'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED']

# Filtrar el dataframe y seleccionar las columnas relevantes
df_selected = df2_imputed.select(selected_columns)

# Crear un VectorAssembler para combinar las características en una columna de características
vec_assembler = VectorAssembler(inputCols=selected_columns, outputCol="features")

# Model 2: Cambiar el número de clústeres y la semilla
kmeans2 = KMeans().setK(8).setSeed(2)  # Cambiar el número de clústeres y la semilla

# Crear un nuevo pipeline con el mismo VectorAssembler y el nuevo modelo de KMeans
pipeline2 = Pipeline(stages=[vec_assembler, kmeans2])

# Ajustar el modelo al dataframe
model2c = pipeline2.fit(df_selected)

# Predecir los clústeres para cada fila en el dataframe
df_clusters2c = model2c.transform(df_selected)

# Mostrar los resultados
df_clusters2c.select('features', 'prediction').show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D

# Convertir el DataFrame de PySpark a un DataFrame de Pandas para la visualización
pd_df = df_clusters2c.select('features', 'prediction').toPandas()

# Obtener las columnas relevantes
features = pd_df['features'].apply(lambda x: x.toArray())
pd_df = pd.concat([pd_df.drop(['features'], axis=1), pd.DataFrame(features.tolist())], axis=1)

# Gráfico 3D
fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111, projection='3d')

# Colores para cada clúster
colors = {0: 'red', 1: 'green', 2: 'blue'}

# Scatter plot
for cluster, color in colors.items():
    cluster_data = pd_df[pd_df['prediction'] == cluster]
    ax.scatter(cluster_data[0], cluster_data[1], cluster_data[2], c=color, label=f'Cluster {cluster}')

# Etiquetas y título
ax.set_xlabel('X')
ax.set_ylabel('Y')
ax.set_zlabel('Z')
ax.set_title('KMeans Clustering')

# Leyenda
ax.legend()

plt.show()

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans
from pyspark.ml import Pipeline


# Seleccionar las columnas relevantes
selected_columns = ['LATITUDE', 'LONGITUDE', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
                    'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
                    'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
                    'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED']

# Filtrar el dataframe y seleccionar las columnas relevantes
df_selected = df2_imputed.select(selected_columns)

# Crear un VectorAssembler para combinar las características en una columna de características
vec_assembler = VectorAssembler(inputCols=selected_columns, outputCol="features")

# Model 3: Cambiar otros hiperparámetros según sea necesario
kmeans3 = KMeans().setK(3).setSeed(3).setMaxIter(20)  # Cambiar el número de clústeres, la semilla y el número máximo de iteraciones

# Crear un nuevo pipeline con el mismo VectorAssembler y el nuevo modelo de KMeans
pipeline3 = Pipeline(stages=[vec_assembler, kmeans3])

# Ajustar el modelo al dataframe
model3c = pipeline3.fit(df_selected)

# Predecir los clústeres para cada fila en el dataframe
df_clusters3c = model3c.transform(df_selected)

# Mostrar los resultados
df_clusters3c.select('features', 'prediction').show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D

# Convertir el DataFrame de PySpark a un DataFrame de Pandas para la visualización
pd_df = df_clusters3c.select('features', 'prediction').toPandas()

# Obtener las columnas relevantes
features = pd_df['features'].apply(lambda x: x.toArray())
pd_df = pd.concat([pd_df.drop(['features'], axis=1), pd.DataFrame(features.tolist())], axis=1)

# Gráfico 3D
fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111, projection='3d')

# Colores para cada clúster
colors = {0: 'red', 1: 'green', 2: 'blue'}

# Scatter plot
for cluster, color in colors.items():
    cluster_data = pd_df[pd_df['prediction'] == cluster]
    ax.scatter(cluster_data[0], cluster_data[1], cluster_data[2], c=color, label=f'Cluster {cluster}')

# Etiquetas y título
ax.set_xlabel('X')
ax.set_ylabel('Y')
ax.set_zlabel('Z')
ax.set_title('KMeans Clustering')

# Leyenda
ax.legend()

plt.show()

# *Evaluación*

# Regresion

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.mllib.evaluation import RegressionMetrics
import pandas as pd

# Define function for evaluation metrics
def evaluate_model(predictions):
    evaluator_rmse = RegressionEvaluator(labelCol="JURISDICTION_CODE", predictionCol="prediction", metricName="rmse")
    evaluator_mae = RegressionEvaluator(labelCol="JURISDICTION_CODE", predictionCol="prediction", metricName="mae")
    evaluator_r2 = RegressionEvaluator(labelCol="JURISDICTION_CODE", predictionCol="prediction", metricName="r2")

    rmse = evaluator_rmse.evaluate(predictions)
    mae = evaluator_mae.evaluate(predictions)
    r2 = evaluator_r2.evaluate(predictions)

    # Calculate explained variance
    metrics = RegressionMetrics(predictions.select("prediction", "JURISDICTION_CODE").rdd.map(lambda x: (float(x[0]), float(x[1]))))
    explained_variance = metrics.explainedVariance

    return rmse, mae, r2, explained_variance

# Evaluate model1r
predictions1 = model1r.transform(testing_data)
rmse1, mae1, r2_1, explained_variance1 = evaluate_model(predictions1)

# Evaluate model2r
predictions2 = model2r.transform(testing_data)
rmse2, mae2, r2_2, explained_variance2 = evaluate_model(predictions2)

# Evaluate model3r
predictions3 = model3r.transform(testing_data)
rmse3, mae3, r2_3, explained_variance3 = evaluate_model(predictions3)

# Create a table
data = {
    'Metric': ['RMSE', 'MAE', 'R-squared', 'Explained Variance'],
    'Model 1': [rmse1, mae1, r2_1, explained_variance1],
    'Model 2': [rmse2, mae2, r2_2, explained_variance2],
    'Model 3': [rmse3, mae3, r2_3, explained_variance3]
}

df = pd.DataFrame(data)
print(df)

# Clustering

In [ ]:
from pyspark.ml.evaluation import ClusteringEvaluator
# Métricas de evaluación
evaluator = ClusteringEvaluator()

# Silueta
silhouette1 = evaluator.evaluate(df_clusters1c)
silhouette2 = evaluator.evaluate(df_clusters2c)
silhouette3 = evaluator.evaluate(df_clusters3c)

# Inercia
inertia1 = model1c.stages[-1].summary.trainingCost
inertia2 = model2c.stages[-1].summary.trainingCost
inertia3 = model3c.stages[-1].summary.trainingCost

# Imprimir resultados
print("\nResultados de la evaluación:")
print("\n| Métrica     | Modelo 1 | Modelo 2 | Modelo 3 |")
print("|-------------|----------|----------|----------|")
print(f"| Silueta     | {silhouette1:.4f}  | {silhouette2:.4f}  | {silhouette3:.4f}  |")
print(f"| Inercia     | {inertia1:.4f}  | {inertia2:.4f}  | {inertia3:.4f}  |")